/*Documento css*/

* {margin: 0%; }

.cabecera {background-color: rgb(182, 47, 47);
           padding: 16px 0px; }


.logo {font-size: 6em;
       color:rgb(110, 30, 40);
       text-align: center;
       display: block; }

.pie {background-color: crimson;
       text-align: center;
       padding: 16px 0px; }       

.img {width: 10px;
      height: 10px;}       